<div class="menu" (click)="showMenu()">
    <div class="line line-1"></div>
    <div class="line line-2"></div>
    <div class="line line-3"></div>
</div>

<div class="menu-content">
    <ul>
        <li><a routerLink="/cars" class="menu-link">Cars</a></li>
        <li><a routerLink="/admin/cars" class="menu-link">Car Management</a></li>
        <li><a routerLink="/admin/users" class="menu-link">User Management</a></li>
        <li><a routerLink="/admin/rents" class="menu-link">Rent Management</a></li>
        <li><a routerLink="/admin/locations" class="menu-link">Location Management</a></li>
    </ul>
</div>