.form-wrapper {
    width: 90rem;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    animation: showForm 3s 0.5s forwards;
}

@keyframes showForm {
    100% {
        opacity: 1;
        visibility: visible;
    }
}

.form-wrapper::before {
    content: "";
    width: 100%;
    height: 0.7rem;
    background-color: #000;
    position: absolute;
    top: -0.7rem;
    transform: skewX(45deg);
    transform-origin: bottom;
}

.form-wrapper::after {
    content: "";
    height: 100%;
    width: 0.7rem;
    background-color: #000;
    position: absolute;
    left: -0.7rem;
    transform: skewY(45deg);
    transform-origin: right;
}

.left-side {
    width: 50%;
    position: relative;
}

.left-side div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 2rem;
}

.left-side div h5 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: .2rem;
    margin-bottom: 1rem;
    white-space: nowrap;
}

.left-side div a {
    border: .1rem solid #fff;
    color: #fff;
    padding: 0 1rem;
    text-transform: uppercase;
    letter-spacing: .5rem;
    transition: all .3s;
}

.left-side div a:hover {
    background-color: #fff;
    color: #000;
}

.left-side img {
    width: 100%;
    height: 100%;
}

.register-form {
    width: 50%;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

.input-group label {
    margin-bottom: .5rem;
}

.input-group input {
    background: transparent;
    border: none;
    border-bottom: .1rem solid #fff;
    outline: none;
    color: #fff;
}

.validation-error {
    color: aqua;
}

.submit-btn {
    width: 100%;
    background-color: transparent;
    color: #fff;
    border: .1rem solid #fff;
    text-transform: uppercase;
    letter-spacing: .5rem;
    padding: .2rem 0;
    margin-top: 1rem;
    cursor: pointer;
    transition: all .3s;
}

.submit-btn:hover {
    background-color: #fff;
    color: #000;
}

.submit-btn:disabled {
    opacity: 0.9;
    cursor: not-allowed;
    background: none;
    color: #fff;
}

