<div class="admin-container">
    <div class="details">
        <div class="images">
            <img src="https://images.unsplash.com/photo-1502877338535-766e1452684a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1472&q=80" alt="">
            <div class="left-btn"></div>
            <div class="right-btn"></div>
        </div>

        <ul>
            <li>ID: {{car.id}}</li>
            <li>Brand: {{car.brand}}</li>
            <li>Model: {{car.model}}</li>
            <li>Year: {{car.year}}</li>
            <li>Color: {{car.color}}</li>
            <li>Seat count: {{car.seatCount}}</li>
            <li>Fuel type: {{car.fuelType}}</li>
            <li>Price per day: {{car.pricePerDay}}</li>
            <li>Available: {{car.available}}</li>
        </ul>
    </div>
</div>