.admin-container {
    width: 100%;
    height: 90vh;
    position: absolute;
}

.details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.images {
    width: 100rem;
    margin-right: 2rem;
    position: relative;
}

.images img {
    width: 100%;
}

.car-name {
    color: #eee;
    text-transform: uppercase;
    letter-spacing: .5rem;
    font-size: 5rem;
    position: absolute;
    left: 2rem;
    top: 2rem;
    visibility: hidden;
    opacity: 0;
    animation: show 2s 1s forwards;
}

.car {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    visibility: hidden;
    opacity: 0;
    animation: show 2s 1.5s forwards;
}

.car-images {
    width: 80rem;
    height: 50%;
    margin-right: 2rem;
    position: relative;
}

.left-btn,
.right-btn {
    width: 2rem;
    height: 3rem;
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
    transition: background .5s;
}

.left-btn:hover,
.right-btn:hover {
    background-color: aqua;
}

.left-btn {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
}

.right-btn {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
}

.details ul li {
    white-space: nowrap;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
