
/* Pagination */
.pagination-controls{
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

.pagination-controls /deep/ .ngx-pagination li {
    color: aqua;
}

.pagination-controls /deep/ .ngx-pagination li a {
    color: aqua;
}

.pagination-controls /deep/ .ngx-pagination .current {
    background: transparent;
    border: .1rem solid aqua;
}

.pagination-controls /deep/ .ngx-pagination a:hover, .ngx-pagination button:hover {
    background: transparent;
    color: aqua;
    border: .1rem solid aqua;
}

.pagination-controls /deep/ .ngx-pagination a:focus, .ngx-pagination button:focus {
    outline: none;
    background: aqua;
    color: #000;
}